<div class="container">
    <div class="outer-wrap my-2">
        <div class="row">
            <div class="col-md-8">
                <!-- <button type="button" class="btn btn-primary mb-2" (click)="manageUsers('Add User', '')"><i
                        class="bi bi-plus-circle" aria-hidden="true"></i>
                    Add Users</button> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th *ngFor="let heading of tableHeader">{{ heading }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usersData;">
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.job }}</td>
                            <td>{{ user.address }}</td>
                            <td>{{ user.contact }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-info mr-2"
                                    (click)="manageUsers('Edit User', user)" [disabled]="manageId != user.id">
                                    <i class="bi bi-pencil-square" aria-hidden="true"></i></button>

                                <button type="button" class="btn btn-outline-danger" [disabled]="manageId != user.id">
                                    <i class="bi bi-trash" aria-hidden="true"
                                        (click)="deleteUser(user.id)"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <ngb-pagination [pageSize]="3" [collectionSize]="collectionSize" [(page)]="page"
                aria-label="Default pagination"></ngb-pagination> -->
        </div>
    </div>
</div>